{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Doctor Dashboard</title>
    <!--Custom CSS file-->
    <link rel="stylesheet" href="{% static 'app/css/pdashboard.css' %}">
    
</head>
<body>
    <h2>Welcome, {{ doctor.doctor_name }}!</h2>
    <h3>Patients:</h3>
    <ul>
        {% for patient in patients %}
            <li>{{ patient.name }}</li>
        {% empty %}
            <li>No prescriptions assigned assigned.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'doctor_logout' %}">Logout</a>
</body>
</html>